<div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mt-10 md:max-w-full  md:flex md:justify-between max-w-full sm:flex sm:justify-between">
        <div class="flex items-center justify-center mx-8">
            Menu
            <div class="flex items-center mx-2 ">
                <mat-icon class="hidden md-block">phone</mat-icon>
                <div class="flex flex-col items-center justify-center gap-1">
                    <span class="hidden md-block">Hotline hỗ trợ</span>
                    <span class="hidden md-block">01111111</span>
                </div>
            </div>
        </div>
        <div>
            <a href="">
                <img src="../../../assets/logo.webp" alt="logo">
            </a>
        </div>
        <div class=" flex">
            <a href="" class="cart">
                <mat-icon matBadge="15" class="text-black md:mr-6 sm:mr-4">shopping_cart</mat-icon>

            </a>
            <mat-icon class="hidden md-block">search</mat-icon>
        </div>

    </div>
</div>