<!-- add loaihangha -->
<!-- <div class="mx-3">
  <h2>Thêm Danh Mục</h2>
  <form class="flex flex-col">
    <label for="username">Loại hàng hóa</label>
    <input
      class="border border-sky-500 w-[30%] mb-3 p-2"
      pInputText
      id="username"
      aria-describedby="username-help"
      
    />
    <div>
      <button type="submit" class="btn btn-primary">
        Thêm Tên Loại Hàng Hóa
      </button>
    </div>
  </form>
</div> -->

<!-- add hanghoa -->
<div class="mx-3">
  <h2>Thêm Hàng Hóa</h2>
  <form
    [formGroup]="hangHoaForm"
    (ngSubmit)="handleOnSubmitHangHoa()"
    class="grid grid-cols-1"
  >
  <p-dropdown
      formControlName="idLoaiHangHoa"
      [options]="loaiHangHoas"
      optionLabel="tenLoai"
      optionValue="idLoaiHangHoa"
      placeholder="Chọn Loại hàng hóa"
      class="m-9"
    />
    <div class="flex flex-col">
      <label for="username" class="mx-2">Hàng hóa</label>
      <input
        class="border border-sky-500 w-[30%] mb-3 p-2"
        pInputText
        id="username"
        aria-describedby="username-help"
        formControlName="TenHangHoa"
      />
    </div>
    <div class="flex flex-col">
      <label for="username" class="mx-2">Mô tả sản phẩm</label>
      <textarea
        class="border border-sky-500 w-[30%] mb-3"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="Mota"
      >
      </textarea>
    </div>

    <div class="flex flex-col">
      <label for="username" class="mx-2">Giá</label>
      <input
        class="border border-sky-500 w-[30%] mb-3 p-2"
        pInputText
        id="username"
        aria-describedby="username-help"
        formControlName="Gia"
      />
    </div>

    <div class="flex flex-col">
      <label for="username" class="mx-2">Size</label>
      <input
        class="border border-sky-500 w-[30%] mb-3 p-2"
        pInputText
        id="username"
        aria-describedby="username-help"
        formControlName="Size"
      />
    </div>
    <div class="flex flex-col">
      <label for="username" class="mx-2">Số Lượng</label>
      <input
        class="border border-sky-500 w-[30%] mb-3 p-2"
        pInputText
        id="username"
        aria-describedby="username-help"
        formControlName="SoLuong"
      />
    </div>
    <div class="flex flex-col">
      <label for="username" class="mx-2">Màu</label>
      <input
        class="border border-sky-500 w-[30%] mb-3 p-2"
        pInputText
        id="username"
        aria-describedby="username-help"
        formControlName="MauSac"
      />
    </div>
    <div class="flex flex-col">
      <label for="hinhAnh" class="mx-2">Hình ảnh</label>
      <input
        type="file"
        class="border border-sky-500 w-[30%] mb-3 p-2"
        (change)="onFileSelected($event)"
        id="hinhAnh"
        aria-describedby="hinhAnh-help"
      />
    </div>
    
    <!-- [options]="" 
        [(ngModel)]=""  -->
    <div class="my-2">
      <button type="submit" class="btn btn-primary">Thêm Hàng Hóa</button>
    </div>
  </form>
</div>
