body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.accordion-content {
  max-height: 700px; /* Điều chỉnh chiều cao tối đa theo nhu cầu */
  overflow-y: auto;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.product-list li {
  padding: 8px 0;
}
/* Tùy chỉnh thanh cuộn */
.accordion-content::-webkit-scrollbar {
    width: 5px;
  }
  .accordion-content::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .accordion-content::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .accordion-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.accordion-item:last-child {
  border: none;
}

.accordion-toggle {
  display: none;
}

.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 1rem;
  // background-color: #48CAB2;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  color: #3ca89d;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
  box-sizing: border-box;
}

.accordion-content p {
  margin: 1rem 0;
}

.accordion-toggle:checked + .accordion-header + .accordion-content {
  max-height: inherit; /* Adjust based on your content */
  padding: 1rem;
}

.icon-arrow-up {
  display: none;
}

.accordion-toggle:checked + .accordion-header .icon-arrow-up {
  display: inline;
}

.accordion-toggle:checked + .accordion-header .icon-arrow-down {
  display: none;
}
a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  &:hover {
    color: #3ca89d;
  }
}

li {
  list-style: none;
}
