body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.accordion {
    // width: 80%;
    // max-width: 600px;
    // background-color: #fff;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

// .accordion-item {
//     border-bottom: 1px solid #e0e0e0;
// }

.accordion-item:last-child {
    border: none;
}

.accordion-toggle {
    display: none;
}

.accordion-header {
    display: flex;
    justify-content:center;
    align-items: center;
    // padding: 1rem;
    // background-color: #48CAB2;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    color: #3ca89d;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
    box-sizing: border-box;
}

.accordion-content p {
    margin: 1rem 0;
}

.accordion-toggle:checked + .accordion-header + .accordion-content {
    max-height: 200px; /* Adjust based on your content */
    padding: 1rem;
}

.icon-arrow-up {
    display: none;
}

.accordion-toggle:checked + .accordion-header .icon-arrow-up {
    display: inline;
}

.accordion-toggle:checked + .accordion-header .icon-arrow-down {
    display: none;
}
 a{
    text-decoration: none;
    color: black;
    margin: 10px 0 ;
    &:hover {
        color: #3ca89d;
    }
}

li {
    list-style: none;
}