<div class="container-lg my-[6rem]">
  <div class="grid gap-10 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
    <!-- Skeleton for image -->
    <ng-container *ngIf="isLoading; else productContent">
      <div class="skeleton-wrapper">
        <p-skeleton width="100%" height="400px"></p-skeleton>
        <div>
          <p-skeleton width="60%" height="30px"></p-skeleton>
          <p-skeleton
            width="100%"
            height="20px"
            [ngStyle]="{ 'margin-top': '10px' }"
          ></p-skeleton>
          <p-skeleton
            width="100%"
            height="20px"
            [ngStyle]="{ 'margin-top': '10px' }"
          ></p-skeleton>
          <div class="quantity-controls" [ngStyle]="{ 'margin-top': '10px' }">
            <p-skeleton width="30px" height="30px"></p-skeleton>
          </div>
          <p-skeleton
            width="100px"
            height="40px"
            [ngStyle]="{ 'margin-top': '20px' }"
          ></p-skeleton>
        </div>
      </div>
    </ng-container>

    <!-- Actual product content -->
    <ng-template #productContent>
      <div *ngFor="let item of products">
        <a [routerLink]="['/Cate-product/product-details',item.idHangHoa]" class="no-underline text-stone-800 ">
          <img [src]="getImgProduct(item)" alt="anh" />

          <div>
            <p class="font-normal text-lg hover:text-[#48CAB2] product-name">
              {{ item?.tenHangHoa }}
            </p>
            <p class="font-bold">{{ item?.gia | number : "1.0-3" }} VNĐ</p>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
</div>
