@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;
a {
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
html {
  scroll-behavior: smooth;

  scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);
}