.custom-button {
    background-color: #48CAB2; /* Set background color */
    color: #ffffff; /* Set text color */
    border: none; /* Remove border */
    padding: 0.5rem 1rem; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

a {
  text-decoration: none;
}